
body {
	background-color: @background-color;
	color: @gray-900-color;
	
	header {
		.nav-item a:active  {
			color: @teal-color;
		}
		
		.nav-seperator {
			border-right: 1px solid @gray-500-color;
			border-left: 1px solid @gray-600-color;
		}
		
		div#notifier {
			position: absolute;
			z-index: 1000;
			top: 0;
			opacity: 0;
			cursor: pointer;
		}
	}
	
	#app {
		margin-top: 80px;
		overflow-y: auto;
		
		.auth-type-container {
			background-color: @gray-200-color;
			border-color: @gray-400-color;
		
			.form-group {
				width: 95%;
				margin-left: 2%;
			}
		}
	}
	
	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		right: 0;
		height: 32px;
		text-align: left;
		verticle-align: middle;
		background-color: @gray-400-color; 
	}
	
	.text-primary {
		color: @primary-color;
	}
	
	.mdi-rm {
		color: @icon-color;
		margin-right: 4px;
	}
	
	.hidden {
		display: none;
	}
}

