@base-background-color: #1d365d;
@base-foreground-color: #b9c8e0;
@base-border-color: #808080;

html * {
	padding: 0;
	margin: 0;
	background-color: #fff;
}

body {
	width: 900px;
	margin: auto;
	background-color: @base-background-color;
	color: @base-foreground-color;
	border-left: 1px solid @base-border-color;
}